@using MagicVilla_Utility
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MagicVilla</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MagicVilla_Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <style>
        .navbar {
            border: none !important;
            box-shadow: none !important;
        }
    </style>
</head>
<body>
    <partial name="_Notification" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-light box-shadow">
            <div class="container-fluid ">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-between align-items-center w-100">

                            <div class="d-flex align-items-center">
                                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="@Url.Content("~/images/village-svgrepo-com.svg")" alt="MagicVilla Logo" style="height: 30px; width: auto; object-fit: contain;" />
                                </a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
                                        aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="navbarMain">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link " asp-controller="Villa" asp-action="IndexVilla">Villa</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link " asp-controller="VillaNumber" asp-action="IndexVillaNumber">Villa Number</a>
                                            </li>

                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <ul class="navbar-nav">
                                    @if (httpAcc.HttpContext.Session.GetString(SD.SessionToken) != null &&
                                    httpAcc.HttpContext.Session.GetString(SD.SessionToken).ToString().Length > 0)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Logout</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Register</a>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
            @RenderBody()
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2025 - MagicVilla
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>